@use "../_mixins";

.footer-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	border-top: 1px solid;
	@include mixins.border-color(--light-border-color);
}

.footer-navigation-menu {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	list-style-position: outside;
	list-style-type: none;
	@include mixins.font-size(20);
	@include mixins.font-family(--navi-font);
	@include mixins.font-weight(--navi-font-weight);
	@include mixins.text-transform(--navi-text-transform);
}

.footer-navigation-menu li {
	display: inline-block;
}

.footer-navigation-menu a {
	display: block;
	margin: 0;
	padding: 0.75em 1em;
	@include mixins.color(--navi-color);
	text-decoration: none;
}

.footer-navigation-menu a:link,
.footer-navigation-menu a:visited {
	@include mixins.color(--navi-color);
	text-decoration: none;
}

.footer-navigation-menu a:hover,
.footer-navigation-menu a:active {
	@include mixins.color(--navi-hover-color);
}

.footer-navigation-menu li.current-menu-item > a {
	text-decoration: underline;
}

@media only screen and (max-width: 40em) {
	.footer-navigation-menu {
		display: block;
		text-align: center;
	}

	.footer-navigation-menu li {
		display: block;
	}

	.footer-navigation-menu a {
		@include mixins.font-size(18);
	}
}
