@use "../_mixins";

.header-search .header-search-form {
	position: absolute;
	right: 0;
	display: none;
	margin: 0;
	padding: 1em;
	@include mixins.background(--page-background-color);
	border: 1px solid;
	@include mixins.border-color(--light-border-color);
	z-index: 999;
}

.header-search .header-search-form.toggled-on {
	display: block;
}

.header-search .header-search-form .search-form {
	min-width: 300px;
}

.header-search .header-search-icon {
	padding: 1em;
	border: none;
	font-size: 20px;
}

.header-search .header-search-icon:hover {
	cursor: pointer;
}

.header-search .header-search-icon:focus {
	outline: none;
}

.header-search .header-search-icon .icon-search {
	display: block;
	margin: 0.05em 0 0;
	padding: 0;
	width: 24px;
	height: 24px;
	@include mixins.fill(--navi-color);
}

.header-search .header-search-icon:hover .icon-search,
.header-search .header-search-icon:active .icon-search {
	@include mixins.fill(--navi-hover-color);
}

@media only screen and (max-width: 57.5em) {
	.header-search .header-search-form {
		position: static;
		display: block !important;
		visibility: visible;
		margin: 0.5em 0 1.5em;
		padding: 0;
		background: none;
		border: none;
	}

	.header-search .header-search-form .search-form {
		margin: 0 auto;
		min-width: auto;
	}

	.header-search .header-search-icon {
		display: none;
	}
}
